# Configs
memoria/configs/*
planificacion/planificacion.config
file_system/configs/*

# Debug
planificacion/Debug/*
file_system/Debug/*
memoria/Debug/*
shared-common/Debug/*

# Files
*.log

# Object files
*.o

# Executables
*.exe

# Settings
.settings
/.settings

settings.json