*
!*/
!*.c
!*.h

/* Configs */
!memoria/configs/*
!planificacion/configs/*
!file_system/configs/*

/* Logs */
!planificacion/planificacion.log
!memoria/Muse.log
!file_system/file_system.log

!Makefile
!.gitignore