# Configs
# memoria/configs/*
# planificacion/configs/*
# file_system/configs/*

# Debug
planificacion/Debug/*
file_system/Debug/*
shared-common/Debug/*
muse/Debug/*
client-tests/Debug/*

# Files
*.log

# Object files
*.o

# Executables
*.exe
*.out
*.app

# Settings
planificacion/.settings/*
file_system/.settings/*
memoria/.settings/*
shared-common/.settings/*

settings.json
/.metadata/

# Remote Temp files
RemoteSystemsTempFiles/*

# OSX
.DS_STORE